# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Environemnt
.env
.env.*
!.env.example
!.env.example-pro

# IDE / Editor
.fleet
.idea
.nova
.vscode
.zed

# Composer / PHP
auth.json
vendor/
.phpunit.result.cache
.phpunit.cache
.phpactor.json

# Laravel
/storage/*.key
/storage/pail
/storage/framework/cache/data
/public/storage
/public/hot
/public/build

# Node / Vite
node_modules/
npm-debug.log*

# Homestead
Homestead.json
Homestead.yaml

#PHP
php.ini